<div class="card-body">
    <div class="page_header">
        <div class="page_name_title app-page-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Finance</li>
                    <li class="breadcrumb-item"><i class="fas fa-square-full list_style_square"></i>Dining</li>
                    <li class="breadcrumb-item"><i class="fas fa-square-full list_style_square"></i>Dining Bill</li>
                    <li class="breadcrumb-item active" aria-current="page"><i
                            class="fas fa-square-full list_style_square"></i>Dining Expenses Statement</li>
                </ol>
            </nav>
            <h5>Dining Expenses Statement</h5>
        </div>
        <div class="page_action text-right">
            <div class="btn-group">
                <button type="button" class="btn green dropdown-toggle action_btn_ksa" data-toggle="dropdown"
                    data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false">
                    <span class="text-uppercase">Action</span>
                </button>
                <!-- <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button" *ngIf="commonMethod.isShowAction(203)"
                        routerLink='/finance/addDiningExpense'>Add New</button>
                    <button class="dropdown-item" type="button" *ngIf="commonMethod.isShowAction(204)">Print
                        PDF</button>
                    <button class="dropdown-item" type="button" *ngIf="commonMethod.isShowAction(205)">Print
                        Excel</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="table-search-form-div" (click)="closeSearchBox()">
</div>
<div class="large-table-container">
    <div class="mat-elevation-z8 large-table">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="sl">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-sl">
                    <i class="fas fa-sort-amount-down"></i>
                    <i class="fas fa-sort-amount-up"></i>SL<span
                        class="material-icons mat-table-search-icon">
                        arrow_drop_down
                    </span>
                </th>
                <td mat-cell *matCellDef="let row; let i = index;" class="text-center">{{i + 1}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="productType">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-expense-head">
                    <i class="fas fa-sort-amount-down" (click)="sortTableData('1', this)"></i>
                    <i class="fas fa-sort-amount-up" (click)="sortTableData('1', this)"></i>Product Type<span
                        class="material-icons mat-table-search-icon" (click)="showSearchBox('productTypeSearchBox')">
                        arrow_drop_down
                    </span>
                    <form role="search" id="productTypeSearchBox" method="get" class="table-search-form">
                        <mat-form-field class="example-form-field " appearance="outline">
                            <mat-label>Expense Head</mat-label>
                            <input matInput type="text"
                                (focus)="commonMethod.setupFilter('productTypeName', dataSource)"
                                (keyup)="commonMethod.applyFilter(dataSource, $event.target.value)"
                                placeholder="Search By Expense Head">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </th>
                <td mat-cell *matCellDef="let row" class="mat-column-expense-head">
                    {{row.productTypeName}}
                 </td>
                 <td mat-footer-cell *matFooterCellDef class="text-bold">
                    <span *ngIf="dataSource.data.length > 0">Total</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-product-name">
                    <i class="fas fa-sort-amount-down" (click)="sortTableData('2', this)"></i>
                    <i class="fas fa-sort-amount-up" (click)="sortTableData('2', this)"></i>Product<span
                        class="material-icons mat-table-search-icon" (click)="showSearchBox('productNameSearchBox')">
                        arrow_drop_down
                    </span>
                    <form role="search" id="productNameSearchBox" method="get" class="table-search-form">
                        <mat-form-field class="example-form-field " appearance="outline">
                            <mat-label>Product Name</mat-label>
                            <input matInput type="text" (focus)="commonMethod.setupFilter('productName', dataSource)"
                                (keyup)="commonMethod.applyFilter(dataSource, $event.target.value)"
                                placeholder="Search By Product Name">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </th>
                <td mat-cell *matCellDef="let row" matTooltip="{{row.productName}}" class="mat-column-product-name">
                    {{row.productName}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-unit">
                    <i class="fas fa-sort-amount-down" (click)="sortTableData('3', this)"></i>
                    <i class="fas fa-sort-amount-up" (click)="sortTableData('3', this)"></i>Qty<span
                        class="material-icons mat-table-search-icon" (click)="showSearchBox('qtySearchBox')">
                        arrow_drop_down
                    </span>
                    <form role="search" id="qtySearchBox" method="get" class="table-search-form">
                        <mat-form-field class="example-form-field " appearance="outline">
                            <mat-label>Qty</mat-label>
                            <input matInput type="text" (focus)="commonMethod.setupFilter('qty', dataSource)"
                                (keyup)="commonMethod.applyFilter(dataSource, $event.target.value)"
                                placeholder="Search By qty">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </th>
                <td mat-cell *matCellDef="let row" class="text-right mat-column-unit"> {{row.qty}} {{row.unit}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-rate">
                    <i class="fas fa-sort-amount-down" (click)="sortTableData('4', this)"></i>
                    <i class="fas fa-sort-amount-up" (click)="sortTableData('4', this)"></i>Rate<span
                        class="material-icons mat-table-search-icon" (click)="showSearchBox('rateSearchBox')">
                        arrow_drop_down
                    </span>
                    <form role="search" id="rateSearchBox" method="get" class="table-search-form">
                        <mat-form-field class="example-form-field " appearance="outline">
                            <mat-label>Rate</mat-label>
                            <input matInput type="text" (focus)="commonMethod.setupFilter('rate', dataSource)"
                                (keyup)="commonMethod.applyFilter(dataSource, $event.target.value)"
                                placeholder="Search By Rate">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </th>
                <td mat-cell *matCellDef="let row" class="text-right mat-column-rate"> {{row.rate | currency: " "}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-amount">
                    <i class="fas fa-sort-amount-down" (click)="sortTableData('5', this)"></i>
                    <i class="fas fa-sort-amount-up" (click)="sortTableData('5', this)"></i>Amount<span
                        class="material-icons mat-table-search-icon" (click)="showSearchBox('amountSearchBox')">
                        arrow_drop_down
                    </span>
                    <form role="search" id="amountSearchBox" method="get" class="table-search-form">
                        <mat-form-field class="example-form-field " appearance="outline">
                            <mat-label>Amount</mat-label>
                            <input matInput type="text" (focus)="commonMethod.setupFilter('amount', dataSource)"
                                (keyup)="commonMethod.applyFilter(dataSource, $event.target.value)"
                                placeholder="Search By Amount">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </th>
                <td mat-cell *matCellDef="let row" class="text-right mat-column-amount-custom"> {{row.amount | currency: " "}}
                </td>
                <td style="padding-right: 4px!important" mat-footer-cell *matFooterCellDef class="text-right text-bold">
                    <span *ngIf="dataSource.data.length > 0">{{getTotla() | currency: " "}}</span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </div>
</div>