<div class="card-body">
    <div class="page_header">
        <div class="page_name_title app-page-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Finance</li>
                    <li class="breadcrumb-item"><i class="fas fa-square-full list_style_square"></i>Dining</li>
                    <li class="breadcrumb-item active" aria-current="page"><i
                            class="fas fa-square-full list_style_square"></i>Meal Manages</li>
                </ol>
            </nav>
            <h5>Meal Manages
                <span style="color: #6c757d;" *ngIf="this.commonMethod.showForInstituteAdmin()">
                    of
                    <span class="hover-pointer">
                        <select [(ngModel)]="cachedTableDataService.campusId"
                            (change)="cachedTableDataService.onCampusChange(53)" style="border: none;">
                            <option disabled value="0" selected>--Select Campus--</option>
                            <option *ngFor="let item of commonMethod.campuses" [value]="item.id">
                                {{item.campusName}}
                            </option>
                        </select>
                    </span>
                </span>
            </h5>
        </div>
        <div class="page_action text-right">
            <div class="btn-group">
                <button type="button" class="btn green dropdown-toggle action_btn_ksa" data-toggle="dropdown"
                    data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false">
                    <span class="text-uppercase">Action</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button" *ngIf="commonMethod.isShowAction(215)"
                        routerLink='/finance/addDiningMealManage'>Add New</button>
                    <button class="dropdown-item" type="button" *ngIf="commonMethod.isShowAction(216)">Print
                        PDF</button>
                    <button class="dropdown-item" type="button" *ngIf="commonMethod.isShowAction(217)">Print
                        Excel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-search-form-div" (click)="closeSearchBox()">
</div>
<div class="medium-table-container">
    <div class="mat-elevation-z8 medium-table">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="diningMealManageNo">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-id">
                    <i class="fas fa-sort-amount-down" (click)="sortTableData('0', this)"></i>
                    <i class="fas fa-sort-amount-up" (click)="sortTableData('0', this)"></i>ID<span
                        class="material-icons mat-table-search-icon"
                        (click)="showSearchBox('diningMealManageNoSearchBox')">
                        arrow_drop_down
                    </span>
                    <form role="search" id="diningMealManageNoSearchBox" method="get" class="table-search-form">
                        <mat-form-field class="example-form-field " appearance="outline">
                            <mat-label>ID</mat-label>
                            <input matInput type="text"
                                (focus)="commonMethod.setupFilter('diningMealManageNo', dataSource)"
                                (keyup)="commonMethod.applyFilter(dataSource, $event.target.value)"
                                placeholder="Search By ID">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </th>
                <td mat-cell *matCellDef="let row" class="text-center mat-column-id"> {{row?.diningMealManageNo}} </td>
            </ng-container>
            <ng-container matColumnDef="fromDateString">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-from-date">
                    <i class="fas fa-sort-amount-down" (click)="sortTableData('1', this)"></i>
                    <i class="fas fa-sort-amount-up" (click)="sortTableData('1', this)"></i>From Date<span
                        class="material-icons mat-table-search-icon" (click)="showSearchBox('fromDateStringSearchBox')">
                        arrow_drop_down
                    </span>
                    <form role="search" id="fromDateStringSearchBox" method="get" class="table-search-form">
                        <mat-form-field class="example-form-field " appearance="outline">
                            <mat-label>From Date</mat-label>
                            <input matInput type="text" (focus)="commonMethod.setupFilter('fromDateString', dataSource)"
                                (keyup)="commonMethod.applyFilter(dataSource, $event.target.value)"
                                placeholder="Search By From Date">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </th>
                <td mat-cell *matCellDef="let row" class="text-center mat-column-from-date"> {{row?.fromDateString}}
                </td>
            </ng-container>
            <ng-container matColumnDef="toDateString">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-to-date">
                    <i class="fas fa-sort-amount-down" (click)="sortTableData('2', this)"></i>
                    <i class="fas fa-sort-amount-up" (click)="sortTableData('2', this)"></i>To Date<span
                        class="material-icons mat-table-search-icon" (click)="showSearchBox('toDateStringSearchBox')">
                        arrow_drop_down
                    </span>
                    <form role="search" id="toDateStringSearchBox" method="get" class="table-search-form">
                        <mat-form-field class="example-form-field " appearance="outline">
                            <mat-label>To Date</mat-label>
                            <input matInput type="text" (focus)="commonMethod.setupFilter('toDateString', dataSource)"
                                (keyup)="commonMethod.applyFilter(dataSource, $event.target.value)"
                                placeholder="Search By To Date">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </th>
                <td mat-cell *matCellDef="let row" class="text-center mat-column-to-date"> {{row.toDateString}} </td>
            </ng-container>
            <ng-container matColumnDef="totalBoarder">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-totalBoarder">
                    <i class="fas fa-sort-amount-down" (click)="sortTableData('3', this)"></i>
                    <i class="fas fa-sort-amount-up" (click)="sortTableData('3', this)"></i>Total Boarder<span
                        class="material-icons mat-table-search-icon" (click)="showSearchBox('totalBoarderSearchBox')">
                        arrow_drop_down
                    </span>
                    <form role="search" id="totalBoarderSearchBox" method="get" class="table-search-form">
                        <mat-form-field class="example-form-field " appearance="outline">
                            <mat-label>Boarders</mat-label>
                            <input matInput type="text" (focus)="commonMethod.setupFilter('totalBoarder', dataSource)"
                                (keyup)="commonMethod.applyFilter(dataSource, $event.target.value)"
                                placeholder="Search By Boarders">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </th>
                <td mat-cell *matCellDef="let row" class="text-center mat-column-totalBoarder"> {{row.totalBoarder}}
                </td>
            </ng-container>
            <ng-container matColumnDef="takenMeals">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-takenMeals">
                    <i class="fas fa-sort-amount-down" (click)="sortTableData('4', this)"></i>
                    <i class="fas fa-sort-amount-up" (click)="sortTableData('4', this)"></i>Meals<span
                        class="material-icons mat-table-search-icon" (click)="showSearchBox('takenMealsSearchBox')">
                        arrow_drop_down
                    </span>
                    <form role="search" id="takenMealsSearchBox" method="get" class="table-search-form">
                        <mat-form-field class="example-form-field " appearance="outline">
                            <mat-label>Meals</mat-label>
                            <input matInput type="text" (focus)="commonMethod.setupFilter('takenMeals', dataSource)"
                                (keyup)="commonMethod.applyFilter(dataSource, $event.target.value)"
                                placeholder="Search By Meals">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </th>
                <td mat-cell *matCellDef="let row" class="mat-column-takenMeals"> {{row.takenMeals}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-status">
                    <i class="fas fa-sort-amount-down" (click)="sortTableData(5, this)"></i>
                    <i class="fas fa-sort-amount-up" (click)="sortTableData(5, this)"></i>Status<span
                        class="material-icons mat-table-search-icon" (click)="showSearchBox('statusSearchBox')">
                        arrow_drop_down
                    </span>
                    <div class="d-flex justify-content-end">
                        <form role="search" id="statusSearchBox" method="get" class="table-search-form">
                            <mat-form-field class="example-form-field" appearance="outline">
                                <mat-label>Status</mat-label>
                                <input matInput type="text" (focus)="commonMethod.setupFilter('statusName', dataSource)"
                                    (keyup)="commonMethod.applyFilter(dataSource, $event.target.value)"
                                    placeholder="Search By Status">
                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="value=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </form>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" layout-align="center center" class="text-center mat-column-status">
                    <mat-chip-list>
                        <mat-chip color="green" *ngIf="row.status == 1" selected>{{row.statusName}}</mat-chip>
                        <mat-chip color="danger" *ngIf="row.status == 2" selected>{{row.statusName}}</mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef class="text-center mat-column-action">Action</th>
                <td mat-cell *matCellDef="let row" [style.color]="" class="text-center mat-column-action">
                    <div class="btn-group">
                        <button type="button" class="btn green dropdown-toggle action_btn_ksa" data-toggle="dropdown"
                            data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false">
                            <span class="text-uppercase">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button *ngIf="commonMethod.isShowAction(218)"
                                routerLink="/finance/diningMealManageDetails/{{row?.id}}" class="dropdown-item"
                                type="button">
                                Details
                            </button>
                            <button *ngIf="commonMethod.isShowAction(220)"
                                routerLink="/finance/addDiningMealManage/{{row?.id}}" class="dropdown-item"
                                type="button">
                                Edit
                            </button>
                            <ng-container *ngIf="commonMethod.isShowAction(221)">
                                <button *ngIf="row.status == commonEnum.Inactive"
                                    (click)="onStatusChange(row.id, commonEnum.Active, 'activated')"
                                    class="dropdown-item" type="button">
                                    Activate
                                </button>
                            </ng-container>
                            <ng-container *ngIf="commonMethod.isShowAction(222)">
                                <button *ngIf="row.status == commonEnum.Active"
                                    (click)="onStatusChange(row.id, commonEnum.Inactive, 'deactivated')"
                                    class="dropdown-item" type="button">
                                    Deactivate
                                </button>
                            </ng-container>
                            <button *ngIf="commonMethod.isShowAction(219)" (click)="onDelete(row.id)"
                                class="dropdown-item" type="button">
                                Delete
                            </button>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>